/out
/gen
/lib
*.ao
*~
.idea/workspace.xml
.idea/tasks.xml
/.gradle
/.sandbox
/build
/download
/gradle
/nada.gradle
/gradlew
/gradlew.bat
/aldor-idea/aldorunit.jar
/aldorunit/build/
/Test Results*
\#*\#
.#*
